<title>Seite nicht gefunden</title>

<div>
  <h1>404 - Seite nicht gefunden</h1>
  <p>Die von Ihnen gesuchte Seite existiert leider nicht.</p>
  <a href="/">zurück</a>
</div>

<style>
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    /* text-align: center; */
    /* padding: 2rem; */
    margin: 0;
    padding: 0;
  }
  h1 {
    color: #333;
  }
  p {
    color: #777;
  }
  div {
    display: flex;
    width: 100%;
    height: 100dvh;

    /* background-color: aqua; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
</style>
