<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/home.css" />

    <title>GXTrade</title>
    <%- include ('partials/header'); -%> <%- include ('partials/filter'); -%>
  </head>
  <body>
    <div class="CollectionContainer">
      <div class="ContainerTitle">
        <h1>News</h1>
        <a class="TitleLink" href="/news">See all News ></a>
      </div>
      <ul class="card"></ul>
    </div>
    <script type="module">
      import modul from "./js/filter.js";
      modul.search();
    </script>
  </body>
</html>
